{% extends "layout.html" %}
{% block content %}
    <h1>Entries</h1>
    {% for entry in Entries %}
        <p class=entry>
            <img src="{{ entry.image_public_url }}" width=200 height=200>
            <p>Labels in Image: {{entry.label1}}</p> 
            <p>Labels in Image: {{entry.label2}}</p>
            <p>Labels in Image: {{entry.label3}}</p>  
            <p>Labels in Image: {{entry.label4}}</p>
            <p>Labels in Image: {{entry.label5}}</p>
            <p>Labels in Image: {{entry.translated1}}</p>
            <p>Labels in Image: {{entry.translated2}}</p>
            <p>Labels in Image: {{entry.translated3}}</p>
            <p>Labels in Image: {{entry.translated4}}</p>
            <p>Labels in Image: {{entry.translated5}}</p>
        </p>
    {% endfor %}
{% endblock %}





